.git
.github
.next
node_modules
contracts/target
contracts/test_snapshots
tests
sql
assets
playwright-report
test-results
tsconfig.tsbuildinfo
.env.local
.env.*.local
npm-debug.log*
Dockerfile
docker-compose.yml